

<script src="../../public/assets/js/jquery.min.js"></script>


<script src="../../public/assets/js/bootstrap.bundle.min.js"></script>
<script src="../../public/assets/js/jquery.hoverIntent.min.js"></script>
<script src="../../public/assets/js/jquery.waypoints.min.js"></script>
<script src="../../public/assets/js/superfish.min.js"></script>
<script src="../../public/assets/js/owl.carousel.min.js"></script>
<script src="../../public/assets/js/bootstrap-input-spinner.js"></script>
<script src="../../public/assets/js/jquery.magnific-popup.min.js"></script>
<script src="../../public/assets/js/jquery.plugin.min.js"></script>
<script src="../../public/assets/js/jquery.countdown.min.js"></script>

<!-- Main JS File -->
<script src="../../public/assets/js/main.js"></script>
<script src="../../public/assets/js/demos/demo-13.js"></script>
</body>
</html>