
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('#logout').click(function() {
      // Perform logout action here (e.g., redirect to a logout URL)
      // window.location.href = '/logout'; // Replace with your logout URL
    });
  });
</script>

<script src="/assets/js/jquery.min.js"></script>


<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/jquery.hoverIntent.min.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/superfish.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/bootstrap-input-spinner.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/jquery.plugin.min.js"></script>
<script src="/assets/js/jquery.countdown.min.js"></script>

<!-- Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/demos/demo-13.js"></script>
</body>
</html>