<%- include('../Layouts/header.ejs') %>


<main class="main">         
    <div class="container">
        <div class="page-header page-header-big text-center" style="background-image: url('/downloadImages/Untitled\ design\ \(5\).png')">
            <h1 class="page-title text-white">About us<span class="text-white">Who we are</span></h1>
        </div><!-- End .page-header -->
    </div><!-- End .container -->

    <div class="page-content pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-3 mb-lg-0">
                    <h2 class="title">Our Vision</h2><!-- End .title -->
                    <p>
                        At ZenLaps, our vision is rooted in a commitment to redefine
                         the way individuals experience technology. We aspire to be more than just a platform 
                         for purchasing laptops; we aim to cultivate a community where innovation meets accessibility. 
                         Our vision is to empower our customers with the latest advancements in computing, ensuring that 
                         cutting-edge technology is within reach for everyone. By curating a diverse selection of top-tier
                          laptops and fostering an environment of continuous technolo
                    </p>
                </div><!-- End .col-lg-6 -->
                
                <div class="col-lg-6">
                    <h2 class="title">Our Mission</h2><!-- End .title -->
                    <p>
                        At ZenLaps, our mission is to revolutionize the way people engage
                         with and leverage the power of laptops. We are driven by a commitment to deliver unparalleled
                          value to our customers by offering a carefully curated selection of laptops that epitomize
                           innovation, performance, and reliability. Our mission extends beyond the transactional aspects
                            of e-commerce; we aim to foster a dynamic community where knowledge and passion for technology
                             converge. Through transparent and fair business practices, we strive to make cutting-edge laptops
                              accessible to diverse demographics, ensuring that individuals from all walks of life can embrace 
                              the transformative potential of modern computing.
                    </p>
                </div><!-- End .col-lg-6 -->
            </div><!-- End .row -->

            <div class="mb-5"></div><!-- End .mb-4 -->
        </div><!-- End .container -->

        <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 mb-3 mb-lg-0">
                        <h2 class="title">Who We Are</h2><!-- End .title -->
                        <p class="lead text-primary mb-3">Collective of passionate developers <br>in bangalore india</p><!-- End .lead text-primary -->
                        <p class="mb-2">We are a collective of passionate developers and aspiring entrepreneurs united by
                             a shared vision for redefining the landscape of technology commerce. Comprising seasoned developers 
                             with a wealth of experience in crafting seamless digital experiences, our team is dedicated to bringing
                              cutting-edge solutions to the forefront of your technological journey.</p>

                    </div><!-- End .col-lg-5 -->

                    <div class="col-lg-6 offset-lg-1">
                        <div class="about-images">
                            <img src="../../Public/downloadImages/Untitled design (3).png" alt="" class="about-img-front">
                            <img src="../../Public/downloadImages/Untitled design (2).png" alt="" class="about-img-back">
                        </div><!-- End .about-images -->
                    </div><!-- End .col-lg-6 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .bg-light-2 pt-6 pb-6 -->

        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="brands-text">
                        <h2 class="title">The world's premium laptop brands.</h2><!-- End .title -->
                        <p>These are some of the premius laptop brands in the world, which includes, Gaming, Student and business laptops</p>
                    </div><!-- End .brands-text -->
                </div><!-- End .col-lg-5 -->
                <div class="col-lg-7">
                    <div class="brands-display">
                        <div class="row justify-content-center">
                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="assets/images/brands/1.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="assets/images/brands/2.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="assets/images/brands/3.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="assets/images/brands/4.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="assets/images/brands/5.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="assets/images/brands/6.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="assets/images/brands/7.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="assets/images/brands/8.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="assets/images/brands/9.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->
                        </div><!-- End .row -->
                    </div><!-- End .brands-display -->
                </div><!-- End .col-lg-7 -->
            </div><!-- End .row -->

            <hr class="mt-4 mb-6">



    </div><!-- End .page-content -->
</main><!-- End .main -->

<%- include('../Layouts/mobileheader.ejs') %>

<%- include('../Layouts/footer.ejs') %>