<%- include('../Layouts/header.ejs') %>

<div class="container height-100 d-flex justify-content-center align-items-center"> 
    <div class="position-relative"> <div class="card p-2 text-center">
         <h6>Please enter the one time password.  <br> to verify your account</h6>
          <div> <span>A code has been sent to </span> <br>
            otp is only valid for 3 minutes.

         </div>
         <form action="/validate-otp" method="POST">
            <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                <input class="m-2 text-center form-control rounded" type="text" name="first" maxlength="1" />
                <input class="m-2 text-center form-control rounded" type="text" name="second" maxlength="1" /> 
                <input class="m-2 text-center form-control rounded" type="text" name="third" maxlength="1" /> 
                <input class="m-2 text-center form-control rounded" type="text" name="fourth" maxlength="1" /> 
            </div> 
            <div class="mt-4"> 
                <button type="submit" class="btn btn-danger px-4 validate">Validate</button> 
            </div> 
        </form>
        <div id="invalid">
            <% if (typeof message !== 'undefined' && message) { %>
                <p style="color: red;" id="message"><%= message %></p>
            <% } %>
                    </div>  
        </div> 
        <div class="card-2"> 
                <div class="content d-flex justify-content-center align-items-center"> 
                    <span>Didn't get the code. You can resend in 30s</span> 
<!-- Add an ID to the "Resend" button for easier access -->
                    <a id="resend-button" href="/resendOtp" class="text-decoration-none resend-button ms-3">Resend</a>
                </div> 
            </div> 
        </div>
</div>

<%- include('../Layouts/footer.ejs') %>
