
<main>

    <section class="content-main mt-80 mb-80">
        <div class="card mx-auto card-login  style="border-radius: 0;">
            <div class="card-body " style="border-radius: 0;">
                <h4 class="card-title mb-4">Otp verification</h4>
                <img src="https://media3.giphy.com/media/PijzuUzUhm7hcWinGn/giphy.gif" alt="">
                  <p class="p-3">Please <a href="/login">login here</a></p>
            </div>
        </div>
    </section>

</main>


<%- include('../Layouts/footer.ejs') %>